  //
  // global tools
  html {
    -webkit-overflow-scrolling: touch;
    overflow: scrolls;
  }

  body{
      margin: 0;
      overflow-y: auto;
  }
  
  button {
    outline: 0;
  }

  
  .body-scroll {
    overflow-y: auto!important;
    position: relative;
  }

  .img-fullwidth{
    width: 100vw;
    margin-left: -25px;
    margin-right: -25px;      
  }
  
  .disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  
  [hidden]          {visibility: hidden;}
  .hide        {display: none!important;}
  .show-sm     {display: none!important;}

  @media only screen and (max-width: 767px) {
    .hide-sm    {display: none!important;}
    .show-sm     {display: block!important;}
    .inline-show-sm     {display: inline-block!important;}
  }

  @media only screen and (min-width: 767px) {
    .hide-md    {display: none!important;}
  }
  

  @media only screen and (min-width: 1024px) {
    .show-lg    {display: block;}
    .hide-lg    {display: none!important;}
  }  


  .page,
  .event,
  .events,
  .artist,
  .artists,
  .landing {

    .header{
      /** BUG width overflow */
      overflow: hidden;
      height: var(--nav-header-height);
      margin-top: var(--gutter-width);
      margin-left: var(--gutter-width);
      margin-right: var(--gutter-width);
      border-bottom: 1px solid var(--font-color);
      position: relative;
      .align-right{
        float: right;
      }

      .tagline{
        border-top: none;
        text-align: right;
        @media (max-width:476px) {
          position: absolute;
          bottom: 0px;
          left: 0px;
          text-align: left;        
        }      
      }

      @media (max-width:476px) {
        height: calc( var(--nav-header-height) * 1.65 );
      }

      .destination{
        margin-bottom: -1px;
        position: absolute;
        bottom: 30px;
        margin: 0;
        
        font-size: 30px;
        font-weight: 700;      
      }

      .title{
        position: absolute;
        top: 0;
        left: 0;        
        @media (min-width:476px) {
          display: none;
        }
      }
  
    }

  }

