  //
  // global tools
  html {
    -webkit-overflow-scrolling: touch;
    overflow: scrolls;
  }

  body{
      margin: 0;
      overflow-y: auto;
  }
  
  button {
    outline: 0;
  }

  
  .body-scroll {
    overflow-y: auto!important;
    position: relative;
  }

  .img-fullwidth{
    width: 100vw;
    margin-left: -25px;
    margin-right: -25px;      
  }
  
  .disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  
  [hidden]          {visibility: hidden;}
  .hide        {display: none!important;}
  .show-sm     {display: none!important;}

  @media only screen and (max-width: 767px) {
    .hide-sm    {display: none!important;}
    .show-sm     {display: block!important;}
    .inline-show-sm     {display: inline-block!important;}
  }

  @media only screen and (min-width: 767px) {
    .hide-md    {display: none!important;}
  }
  

  @media only screen and (min-width: 1024px) {
    .show-lg    {display: block;}
    .hide-lg    {display: none!important;}
  }  


  .page,
  .event,
  .events,
  .artist,
  .artists,
  .news-item,
  .news-list,
  .landing {

    .header-info{
      position: absolute;
      background-color: hsla(0,0%,0%,.85);
      margin:0;
      padding: 0;
      // object-position: 50% 50%;
      width: 100%;
      height:100%;


    }

    .header-image{
      display: flex;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      margin:  auto;
      object-fit: cover;
      object-position: 50% 50%;
      z-index: -1;
      background-image: url("./images/mapping_header1.png");
    }
    @media only screen and (max-width: var(--mobile-breakpoint))
    {.header-image {
      background-image: url("./images/mapping_header1.png");
     }}

    @media (max-width: var(--mobile-breakpoint)) {
      height: calc( var(--nav-header-height) * 1.5 );
    }
    

    .header-wrapper{
      /** BUG width overflow */
      // background-color: lightblue;
      position: relative;
      overflow: hidden;
      height: calc(var(--nav-header-height) + var(--gutter-width));
      width: auto;
      border-bottom: 1px solid var(--border-color);

      .tagline{
        border-top: none;
        text-align: right;
        @media (max-width:var(--mobile-breakpoint)) {
          position: absolute;
          bottom: 0px;
          left: 0px;
          text-align: left;        
        }      
      }



      .destination{
        margin-bottom: -1px;
        position: absolute;
        bottom: 30px;
        margin: 0;
        /*
        font-size: 30px;
        font-weight: 700;      */
      }

      .title{
        position: absolute;
        top: 0;
        left: 0;        
        @media (min-width:var(--mobile-breakpoint)) {
          display: none;
        }
      }
  
    }

  }

