  //
  // global tools
  html {
    -webkit-overflow-scrolling: touch;
    overflow: scrolls;
  }

  body{
      margin: 0;
      overflow-y: auto;
  }
  
  button {
    outline: 0;
  }

  
  .body-scroll {
    overflow-y: auto!important;
    position: relative;
  }

  .img-fullwidth{
    width: 100vw;
    margin-left: -25px;
    margin-right: -25px;      
  }
  
  .disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  
  .hide             {display : none!important;}
  [hidden]          {visibility: hidden;}
  .show-sm          {display: none!important;}
  @media only screen and (max-width: 767px) {
    .hide-sm        {display: none!important;}
    .show-sm        {display: block!important;}
    .inline-show-sm {display: inline-block!important;}
  }
  
  @media only screen and (max-width: 1023px) {
    .hide-md        {display: none;}
  }
  @media only screen and (min-width: 1024px) {
    .show-lg        {display: block;}
    .hide-lg        {display: none;}
  }





