
.landing{
  .header{
    /** BUG width overflow */
    overflow: hidden;
    height: var(--nav-header-height);
    margin-top: var(--gutter-width);
    margin-right: var(--gutter-width);
    border-bottom: 1px solid var(--font-color);
    position: relative;
    .align-right{
      float: right;
    }

    .title{
      position: absolute;
      top: 0;
      left: 0;        
      @media (min-width:476px) {
        display: none;
      }
  
    }
    @media (max-width:476px) {
      height: calc( var(--nav-header-height) * 1.65 );
    }

    .primary-menu{
      margin-bottom: -1px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: none!important;
      margin: 0;    
    }
    
  }


  ul.navigation{
    padding: 0;
    list-style: none;
    li{
      &::after {
        content: "⚫";
        float: right;
        margin-top: 5px;
      }
      &:last-child {
        border-bottom: 1px solid #333;
      }

      margin: 0 20px ;
      padding: 20px 0;
      border-top: 1px solid #333;
      
      a{
        text-decoration: none;
        font-size: 30px;
        color: black;
        font-weight: 600;          
      }
    }
  }

  footer{
    a {
      margin-right: 10px;
    }    
    a:last-child {
      margin-right: 0px;
    }
  }
  .sociallinks {
    a{
      margin-bottom: 30px;
    }
    a::after{
      content: " — ";
      color: white;
      text-decoration: none!important;
      position: absolute;
      margin-top: 5px;
    }
    a:last-child {
      &::after {
        content: "";
      }
    }
  }

  button.lang {
    border: none;
    margin: 0 10px;
    outline: none;
  }
}
  
