.day-wrapper{
    /*padding: 1em;*/
    background-color: rgba(230, 230, 230, 0.068);
    width: 100%;
  }
  
  
  .grid-container {
      display: grid;
  }
  
  .grid-container--fit {
    /* note to self, try auto-fit */
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  
  .grid-element {
    background-color: grey;
    padding: 10px;
    margin: var(--gutter-width) var(--gutter-width) 0 0;
    color: #fff;
    /*border: 1px solid #fff;*/
    height: 200px;
  
  }
   
  
  /* typo */
  .day-title{ 
    margin: 0 0 .5em .5em;
  }